<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      A new question was created, this is question is about one of your favorite topics.
    </p>
    <p>Please try to answer it, and help the people with their problems</p>
    <%= link_to "question", post_url("es",@post)%>
  </body>
</html>
