<h1>Editing Likes Comments By User</h1>

<%= render 'form', likes_comments_by_user: @likes_comments_by_user %>

<%= link_to 'Show', @likes_comments_by_user %> |
<%= link_to 'Back', likes_comments_by_users_path %>
