<h1>Thanks for your comments</h1>

<p>
  We are trying to improve our webpage every day and your comments are very important for us
</p>
<h3>Email</h3>
<p><%= @email %></p>
<h3>The comments</h3>
<p><%= @comments %></p>
