<% if !@post.images.empty? %>
  <% @post.images.each do |image| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <a href="<%=image.image.url%>" data-lightbox="posts">
        <img src="<%= image.image.url %>" class="img-thumbnail img-responsive" width="100" height="100" >
      </a>

    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if @post.user ==  current_user %>
    <% if @post.images.length < 5 %>
      <div class="col-xs-12">
        <a href="" data-toggle="modal" data-target="#modalDropzone" data-keyboard="true" class="btn btn-success"><%= t('.add_image')%></a>
      </div>
    <% end %>
  <% end %>
<% end %>
