<% if !@tags.empty? %>
<div class="row tagSuggest">
  <div class="panel panel-info">
    <div class="panel-body">
      <% @tags.each do |tag| %>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div id="tagSuggestValue">
            <h3 id="tagTittle"><%= tag.title %></h3>
            <p><%= tag.description.html_safe %></p>
          </div>
          <button type="button"  class="btn btn-success" id="tagButtonCreate" value="<%= tag.title %>">
            <%= t('.add_tag') %>
          </buttton>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
